$primary-color: #2741ff;
$secondary-color: #e8913b;

$red: #912018;
$amber: #93370d;
$green: #05603a;
$gray: #1d2939;

$alert: #f04438;
$warning: #f79009;
$progress: #0ba5ec;
$success: #12b76a;

$white: #fff;
$black: #000;

$primary-font: "Roboto", sans-serif;
$secondary-font: "Poppins", sans-serif;
